{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}Prediction{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//s1.ljcdn.com/hwke-pc-static/pc/css/common-13f42725d95253210dab.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-language" content="zh-CN" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="pc"><meta name="location" content="province=江苏;city=南京;coord=32.122127,118.802948" /><link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.lianjia.com/nj/gujia/" >
<meta name="mobile-agent" content="format=html5;url=https://m.lianjia.com/nj/gujia/"><script>
ljConf = {
    city_id: '320100',
    city_abbr: 'nj',
    city_name: '南京',
    channel: 'yezhu',
    page: 'yezhu_gujia',
    pageConfig: {"ajaxroot":"https:\/\/ajax.api.lianjia.com\/","imAppid":"LIANJIA_WEB_20160624","imAppkey":"6dfdcee27d78b1107fceeca55d80b7bd"},
    feroot: '//s1.ljcdn.com/feroot/',
    ucid:'',
    cdn:'0',
};
</script>

<!-- 2017.11.8 市场需求加上新的统计 -->
<script type="text/javascript" src="//s.union.360.cn/200116.js" async defer></script>

<!-- 2017.7.18 开放全国 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9152f8221cb6243a53c83b956842be8a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="https://s1.ljcdn.com/feroot/pc/asset/common/tingyun-rum.js?_v=2020041021151867"></script><title>南京二手房评估价_南京在线评估房屋价格评估(南京链家)	</title>
<meta name="description" content="南京链家业主频道,支持二手房在线评估功能,利用大数据创造严密高效的体系,提供靠谱可信的数据为您评估二手房屋,南京二手房评估就到链家网.链家网房屋价格评估频道为您提供专业的房屋价格线上评估服务,让您只需要填写房子信息后,快速给出房屋评估价格,房产评估就到链家网." />
<meta name="keywords" content="南京二手房评估,南京二手房估价,南京二手房评估价,南京二手房在线评估房屋价格评估,房屋评估,房屋评估价格,房产评估" />
<link rel="canonical" href="https://nj.lianjia.com/yezhu/gujia/"/>
<link href="/favicon.ico" type="image/x-icon" rel=icon><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="https://s1.ljcdn.com/feroot/pc/asset/common.css?_v=2020041021151867">
<!--[if lt IE 9]><script type="text/javascript" src="https://s1.ljcdn.com/feroot/dep/common-require/html5.js?_v=2020041021151867"></script><![endif]-->
<script>
function RESIZEIMG(b,k,l,m){var c=b.parentNode;var d=parseInt(c.offsetWidth)||k;var e=parseInt(c.offsetHeight)||l;var f=d/e;var g=b.naturalWidth||b.width;var h=b.naturalHeight||b.height;var i=g/h;var j="width";if(f<i){j="height";try{b.style["left"]="-"+parseInt(Math.abs((d-(g*e/h))/2))+"px"}catch(e){}}else if(m){try{b.style["top"]="-"+parseInt(Math.abs((e-(h*d/g))/2))+"px"}catch(e){}};b.style[j]="100%";};
</script>
<script>
var _czc = _czc || [];
_czc.push(["_setAccount", "1254525948"]);
</script>

<script type="text/javascript">
var _smq = _smq || [];
_smq.push(['_setAccount', '41331c2', new Date()]);
_smq.push(['_setDomainName', 'lianjia.com']);
_smq.push(['pageview']);
(function() {
var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdnmaster.com/sitemaster/collect.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
})();
</script>
<!--反爬虫--><script>window['__abbaidu_2011_subidgetf'] = function () {return 100000;};window['__abbaidu_2011_cb'] = function (responseData) {var res = JSON.stringify({ t: responseData, r: location.href, os: 'web', v: '0.1' });res = btoa ? btoa(res) : res;document.cookie = 'srcid=' + res + ';path=/;';};</script><script type="application/javascript" src="https://dlswbr.baidu.com/heicha/mw/abclite-2011-s2.js"></script><script type="text/javascript" src="//s1.ljcdn.com/captcha-js-sdk/captcha.js"></script><script type="text/javascript" src="//s1.ljcdn.com/clogin/js/pcLogin.js"></script>
</head>
<body background="/static/images/bgnew2-1.jpg"
      style="background-repeat:no-repeat;
      background-size:100% 100%;
      background-attachment: fixed;">

<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">切换导航条</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">二手房数据处理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/" style="font-weight: bold">管理员主页</a></li>
            <li class="active"><a href="/index/root_visual/" style="font-weight: bold">二手房大数据可视化</a></li>
            <li class="active"><a href="/index/root_predict/" style="font-weight: bold">二手房AI估价</a></li>
            <li class="active"><a href="/index/data_collect/" style="font-weight: bold">二手房数据采集</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             {% if request.session.is_login %}
                  <li><a href="#" style="font-weight: bold">Current Online：{{ request.session.user_name }}</a></li>
                  <li><a href="/logout/" style="font-weight: bold">Sign Out</a></li>
              {% else %}
                  <li><a href="/login/" style="font-weight: bold">Sign In</a></li>
                  <li><a href="/register/" style="font-weight: bold">Register</a></li>
              {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<!--    {% block content %}{% endblock %}-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>


<a class="g-main"><center><div class="tit" style="color:black;font-size:45px">我要估价</div><div class="sub-tit" style="color:black;font-size:20px">随机森林回归模型在线估价</div></center></a>
<br/>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
 <form class='form-predict' action="/index/root_predict/" method="post">
              {% csrf_token %}
              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.community.label_tag }}
                  {{ house_data_form.community}}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.shape.label_tag }}
                  {{ house_data_form.shape }}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.floor.label_tag }}
                  {{ house_data_form.floor }}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.area.label_tag }}
                  {{ house_data_form.area }}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.orientation.label_tag }}
                  {{ house_data_form.orientation }}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.fix_up.label_tag }}
                  {{ house_data_form.fix_up }}
              </div>

               <div class="form-group" style="color:#FFF">
                  {{ house_data_form.lift_scale.label_tag }}
                  {{ house_data_form.lift_scale }}
              </div>

              <div class="form-group" style="color:#FFF">
                  {{ house_data_form.lift.label_tag }}
                  {{ house_data_form.lift }}
              </div>

     <button type="reset" class="btn btn-default pull-left" style="font-weight: bold">Reset</button>
     <button type="submit" class="btn btn-primary pull-right" style="border-color: black;background-color: black;font-weight: bold">Submit</button>
    </form>
    </div>
</div> <!-- /container -->
<!--<div class="m-submit"><div class="wrap"><div class="btn-submit" id="gujia-login">去估价</div></div></div>-->
<!--          <div class="box-r m-confident"><div class="txt">基于AI神经网络估价</div><div class="icon-house"></div><div class="gujia-open CLICKDATA VIEWDATA" data-view-evtid="29608" data-view-event="ItemExpo" data-click-evtid="29609" data-click-event="WebClick"><a href="https://open.ke.com/service/eva/intro?source=8" target="_blank"></a></div></div></div>-->
<!--          <div class="m-submit"><div class="btn-submit" id="gujia-login">去估价</div></div>-->
<!--          <br></br><a href="/index/root_predict/" class="button"><font size="50">开始估价</font></a>-->
<br><br><br>
<a class="g-main"><center><div class="tit" style="color:white;font-size:40px">{{predict_output1}}
    <br>{{predict_output2}}</div></center></a>


</body></html>
